.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
    background-color: #f0f0f0;
    border-radius: 8px;
    transition: transform 0.3s;
    width: 35vh;
    max-height: 55vh;
  }
  
  /* .team-card .team-card-img::before {
    content: '';
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #ff1717;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .team-card:hover .team-card-img::before {
    height: 100%;
  }
  
  .team-card .team-card-img::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ff1717;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  } */
  
  .team-card:hover {
    transform: scale(1.05);
  }
  
  .team-card-img img {
    margin-top: 2rem; 
    width: 9.375rem; 
    height: 9.375rem; 
    border-radius: 50%;
    object-fit: contain;
    margin: 0.5rem 0;
    position: static;
    
  }
  
  .team-card-content {
    text-align: center;
    margin: -1rem;
  }
  
  .domain {
    margin: 0;
    font-size: 1rem;
    color: #777777;
  }
  
  .title {
    font-size: 1.1rem;
    margin: -1rem; 
    color: #e03a3c;
  }
  
  .social {
    list-style-type: none;
    padding: 0;
  }
  
  .social li {
    display: inline-block;
  }
  
  .social li:last-child {
  }
  
  .social a {
    color: #000000;
    text-decoration: none;
    font-size: 1.125rem; 
    text-align: center;
  }
  
  .Name {
    word-spacing: 0.1rem;
  }
  
  .social a:hover {
    color: #0077b5;
  }
  
  @media screen and (max-width: 768px) {
    .team-card {
      width: 75%;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      padding: 1.25rem; 
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .team-card-img img {
      margin-top: 0;
      margin-bottom: 1rem; 
      width: 7.8125rem; 
      height: 7.8125rem; 
    }
  
    .team-card-content {
      text-align: center;
    }
  
    .title {
      font-size: 1rem;
    }
  }
  
  