@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.about_main {
    color: white;
    font-family: 'Poppins';
    margin-top: 6rem;
}

.about_main h1 {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    letter-spacing: 1px;
}

.about_main hr {
    width: 10%;
    margin: auto;
    border: 1px solid #e13b3c;
    margin-bottom: 2rem;
}