@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.liquidButton {
  position: relative;
  padding: 24px 36px;
  margin: 10px 0px;
  color: white;
  text-decoration: none !important;
  font-size: 1.4em;
  letter-spacing: 2px;
  font-family: "Roboto";
  border-radius: 50px;
  background: linear-gradient(90deg, #e13b3c, #b43131);
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  width: 250px;
  box-sizing: border-box;
}

.liquidButton__text {
  z-index: 1;
  display: block;
  position: relative;
}

.liquidButton__liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 250px;
  height: 200px;
  background:  #b43131;
  overflow: hidden;;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.liquidButton:hover .liquidButton__liquid {
  top: -120px;
}

.liquidButton__liquid:before,
.liquidButton__liquid:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -75%);
}

.liquidButton__liquid:before {
  border-radius: 45%;
  background-color: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.liquidButton__liquid:after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
