@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.about_god {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_main {
    padding-top: 80px;
    color: white;
    font-family: 'Poppins';
    padding-bottom: 150px;
    
}

.about_main h1 {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    letter-spacing: 1px;
}

.about_main h3 {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 15px;
}

.about_main h4 {
    color: #e13b3c;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    text-align: center;
    letter-spacing: 2px;
}

.about_main h5 {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    letter-spacing: 15px;
}



.button {
    padding-top:  50px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}



.about_textdiv {
    font-size: 19px;
    width: 60%;
}

.about_textdiv span {
    color: #e13b3c;
}



@media screen and (max-width: 1025px) {
    .about_sub {
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .about_textdiv_sub {
        text-align: center !important;
    }
    .about_textdiv {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    .about_more {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 430px) {
    .playeryoga {
        height: auto;
        width: 90vw;
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .about_sub {
        padding: 0 0rem;
    }
    .about_textdiv {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .about_mobile h1 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;    }
  
    h3 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        letter-spacing: 15px;
    }
  
    h4 {
        color: #e13b3c;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        text-align: center;
        letter-spacing: 2px;
    
    }
  
    h5 {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        letter-spacing: 15px;
    }
  
    
  }